@import 'bootstrap';
@import 'bootstrap-icons';

/* #region Settings */
:root {
    --coloretesto: #8E2F35;
    --salvia: #7B8F74;
    --cipria: #F3B4AB;
    --mattone: #D6DDD5;
    --carne: #FBD5CC;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--carne);
    color: var(--coloretesto);
}

/* #endregion */

/* #region background */
.bg-cipria {
    background-color: var(--cipria);
}

.bg-salvia {
    background-color: var(--salvia);
}

.bg-mattone {
    background-color: var(--mattone);
}

.bg-carne {
    background-color: var(--carne);
}

/* #endregion */


/* #region Text */
.text-salvia {
    color: var(--salvia);
}

.text-base {
    color: var(--coloretesto);
}

.text-cipria {
    color: var(--cipria);
}

.text-mattone {
    color: var(--mattone);
}

.text-carne {
    color: var(--carne);
}

/* #endregion */

/* #region Fonts */
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1,
h2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* #endregion */










































































.finecss {
    display: flex;
}